.tm-heading-fragment>a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: medium;
}

/* .fill-div {
    position: fixed;
    width: 100%;
    height: 100%;
} */

i {
    font-size: smaller;
}